@model eStore.ModelView.ModelVitrine

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LayoutLoja.cshtml";
}

<div class="arriv-top">
    <div class="col-md-6 arriv-left" style="padding-left: 0; margin: 0px 280px;">
        <img src="@Url.Content("~/Assets/Templates/GreTong/")images/1.jpg" class="img-responsive" alt="">
        <div class="arriv-info" style="position: absolute; top: 290px; left: 184px; text-align: center; align-content: center;">
            <h3>LANÇAMENTOS</h3>
            <div class="crt-btn">
                <a href="details.html">ESPIAR</a>
            </div>
        </div>
    </div>
    <div class="clearfix"> </div>
</div>

@Html.Partial("~/Views/Home/VitrineProdutos.cshtml", Model.produtos)



