@model IEnumerable<eStore.Entities.Categoria>

<ul class="megamenu skyblue">
    <li class="active grid"><a class="color1" href="@Url.Action("Index","Home")">Inicio</a></li>
    @foreach (var item in Model)
    {
        <li class="grid">
            <a class="color2" href="#">@Html.DisplayFor(modelItem => item.nome)</a>
            <!--<div class="megapanel">
                <div class="row">
                    <div class="col1">
                        <div class="h_nav">
                            <h4>Clothing</h4>
                            <ul>
                                <li><a href="women.html">new arrivals</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col1">
                        <div class="h_nav">
                            <h4>kids</h4>
                            <ul>
                                <li><a href="women.html">Pools&Tees</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col1">
                        <div class="h_nav">
                            <h4>Bags</h4>
                            <ul>
                                <li><a href="women.html">Handbag</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col1">
                        <div class="h_nav">
                            <h4>account</h4>
                            <ul>
                                <li><a href="#">login</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col1">
                        <div class="h_nav">
                            <h4>Accessories</h4>
                            <ul>
                                <li><a href="women.html">Belts</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col1">
                        <div class="h_nav">
                            <h4>Footwear</h4>
                            <ul>
                                <li><a href="women.html">new arrivals</a></li>
                           </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col2"></div>
                    <div class="col1"></div>
                    <div class="col1"></div>
                    <div class="col1"></div>
                    <div class="col1"></div>
                </div>
            </div>-->
        </li>
    }
 </ul>
